  <h1>Convert <%= @country_code %></h1>

  <p>Go <a href="/">back</a>.</p>

  <ul> 
  <% @r2.each do |country| %>
      <li>
        <a href=/<%= @country_code %>/<%= country %>>
          Convert 1 <%= @country_code %> to <%= country %>...
        </a>
      </li>
  <% end %>
  </ul>
